# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo

# Build artifacts
build/
dist/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

#Extra files
data.csv
uv.lock
pyproject.toml
